/*  ================================
        global area start
    ================================ */

body {
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: #1a1a1a;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

.main-div {
    overflow: hidden;
}

img {
    max-width: 100%;
}

/*  ================================
        global area end
    ================================ */

/*  ================================
        header area start
    ================================ */

.header-top {
    overflow: hidden;
    background-color: #34C5C2;
}

.wel-come h4 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.wel-come {
    padding: 20px 0;
    font-weight: 600;
}

.menu-top {
    text-align: right;
}

.menu-top ul {
    display: inline-block;
}

.menu-top li {
    list-style: none;
    display: inline-block;
    padding: 15px 0 0;
}

.menu-top li a {
    text-transform: capitalize;
    color: #000;
    font-size: 14px;
    transition: 0.5s;
    margin-left: 15px;
    font-weight: bold;
}

.menu-top li a:hover {
    color: #713A99;
}

.logo img {
    width: 200px;
    margin: 10px 0;
}

/*======================== Menu Design ==================*/

#menu-switcher,
.navbar-header > label,
.switch {
    display: none;
}

.menu-container {
    background-color: #713A99;
}

.menu-container label::before {
    border-bottom: 2px solid #fff;
    box-shadow: 0 5px 0 0 #fff, 0 0 0 0 inset, 0 -5px 0 0 #fff;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 20px;
}

.switch {
    width: 100%;
    float: left;
    height: auto;
    min-height: 45px;
    position: relative;
}

.menu-container label {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    cursor: pointer;
    display: none;
    height: 35px;
    padding: 0;
    position: absolute !important;
    right: 8px;
    top: 4px;
    width: 40px;
    z-index: 9999;
    border: 1px solid #fff;
}

#navbar ul {
    text-align: center;
    margin: 0 0 15px;
}

#navbar ul li {
    display: inline-block;
    list-style: outside none none;
    border-left: 1px solid #fff;
}

#navbar ul li a {
    font-size: 22px;
    color: #fff;
    line-height: 25px;
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.5s;
    border-radius: ;
    position: relative;
    padding: 20px 50px;
}

#navbar ul li:first-child {
    border-left: 0;
}

#navbar ul li a:hover {
    color: #000;
    background-color: #34C5C2;
}

/* menu part end */

/*  ================================
        header area end
    ================================ */

.support-box {
    overflow: hidden;
    margin: 0 0 15px;
}

.support-box ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.support-box ul li {
    float: left;
    width: 24.3%;
    list-style: none;
    position: relative;
    padding: 10px 0;
    margin-right: 10px;
    border: 1px solid #34C5C2;
}

.support-box ul li:last-child {
    margin-right: 0;
}

.service-left {
    width: 30%;
    float: left;
    text-align: right;
}

.service-left i {
    font-size: 40px;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #713A99;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.service-right {
    width: 70%;
    float: right;
    padding: 13px 10px;
    font-weight: 600;
    display: inline-block;
    color: #000;
    transition: 0.5s;
    text-transform: capitalize;
    font-size: 15px;
}

@keyframes slidy {
    0% {
        left: 0;
    }

    17% {
        left: 0;
    }

    20% {
        left: -100%;
    }

    37% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    57% {
        left: -200%;
    }

    100% {
        left: 0;
    }
}

.all-slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

figure {
    margin: 0;
}

figure.slider {
    animation: 30s slidy infinite;
    font-size: 0;
    position: relative;
    width: 600%;
}

figure.slider figure {
    display: inline-block;
    height: auto;
    position: inherit;
    width: 16.66666666666667%;
}

figure.slider img {
    width: 100%;
    height: auto;
}

figure.slider figure figcaption {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 2rem;
    padding: 0.6rem;
    position: absolute;
    width: 100%;
}

.sider-content {
    border: 1px solid #D1D1D1;
    padding: 15px 0;
    margin-bottom: 15px;
    text-align: center;
}

/*  ================================
        product title area start
    ================================ */

.pro-title {
    background-color: #059643;
    padding: 15px 30px;
    margin: 30px 0 0;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.pro-title h3 {
    color: #fff;
    font-size: 22px;
    display: inline-block;
    line-height: 1.4;
    font-weight: 700;
}

/*  ================================
        product title area end
    ================================ */

/*  ================================
        product area start
    ================================ */

.product-wraper {
    border: 1px solid #D1D1D1;
    overflow: hidden;
    padding: 40px 20px;
}

.dec-title {
    margin: 30px 0 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product-dec h3 {
    color: #000;
    font-size: 22px;
    margin: 30px 0 10px;
    font-weight: bold;
}

.product-dec h3:first-child {
    margin-top: 0;
}

.product-dec h4 {
    font-weight: bold;
    color: #000;
    font-size: 20px;
    line-height: 1.3;
    margin: 20px 0 10px;
}

.product-dec p a {
    margin-top: 5px;
    color: #000;
    display: block;
    font-style: italic;
    transition: 0.5s;
}

.fa-star {
    color: #FFD90A;
}

.product-dec ul {
    margin-bottom: 30px;
}

.product-dec ul,
.tab-list ul {
    margin: 0 0 10px;
}

.product-dec ul li,
.tab-list ul li {
    list-style: none;
    padding: 5px 20px;
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.product-dec ul li::before,
.tab-list ul li::before,
.sidebar-box ul li::before {
    position: absolute;
    content: "\f046";
    font-family: fontawesome;
    left: 0;
    color: #DAA433;
}

.tl {
    text-align: left !important;
}

/*  ================================
        product area end
    ================================ */

/*  ================================
        tab area start
    ================================ */

.tab-part-area {
    padding: 80px 0 50px;
}

section.tab-section {
    display: none;
    padding: 40px 45px;
    border: 1px solid #ddd;
    color: #1a1a1a;
    overflow: hidden;
}

.tab-part-area input {
    display: none;
}

.tab-part-area label {
    color: #1a1a1a;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid transparent;
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 30px;
    text-align: center;
    text-transform: capitalize;
    background-color: #F8F8FA;
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
}

.tab-part-area label:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
}

.tab-part-area input:checked + label {
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

.tab-section p a {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

/*  ================================
        tab area end
    ================================ */
.box-area h1 {
    background-color: #713A99;
    color: #fff;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.pro-content h4 {
    font-size: 24px;
    color: #000;
    margin: 20px 0;
    font-weight: bold;
}

.pro-content h4 img {
    width: 50px;
    margin-right: 10px;
}

.pro-content h4 i.fa {
    font-size: 40px;
    margin-right: 10px;
}

.pro-content p a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.box-content {
    border: 1px solid #D1D1D1;
    padding: 0 30px;
}

/*  ================================
    featured products area start
    ================================ */
.featured-proudcts-area {
    margin: 30px 0 0;
}

.featured-pro-wraper {
    border: 1px solid #e5e5e5;
}

.featured-products-left {
    width: 25%;
}

.featured-title {
    color: #fff;
    line-height: 1.1;
    padding: 25px;
    background-color: #DAA433;
    text-transform: uppercase;
}

.featured-title h2 {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
}

.featured-title h2 span {
    font-weight: 300;
}

.featured-des {
    margin-top: 25px;
    line-height: 24px;
    text-transform: none;
    margin-left: 25px;
    margin-right: 25px;
    letter-spacing: 0.5px;
}

.view-btn {
    background: #34C5C2;
    text-transform: uppercase;
    color: #000;
    padding: 8px 15px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-left: 25px;
    transition: 0.5s;
    display: inline-block;
    font-weight: bold;
}

.view-btn:hover {
    color: #fff;
}

.featured-products-right {
    width: 75%;
    padding: 25px 10px;
    border-left: 1px solid #e5e5e5;
}

.single-product {
    width: 24%;
    margin: 0 10px 0 0;
}

.single-product:last-child {
    margin-right: 0;
}

.single-product h3 {
    margin-top: 5px;
}

.single-product h3 a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.single-product .price {
    margin: 15px 0;
}

.single-product .price .sale-price {
    font-size: 16px;
}

.single-product .price .regular-price {
    font-size: 13px;
}

.single-product-info .view-btn {
    margin: 10px 0 0;
}

.pro-img {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.pro-img img {
    transition: 0.5s;
    max-height: 100%;
    height: 200px;
}

.icon img {
    height: auto;
}

.single-product:hover .pro-img img {
    transform: scale(1.2);
}

.single-product:hover .single-product-info .view-btn {
    color: #fff;
}

.icon {
    display: inline-flex;
    padding: 10px;
    position: absolute;
    z-index: 9;
    left: 20px;
    top: -40px;
    transition: 0.5s;
    background-color: #713A99;
}

.single-product:hover .icon img {
    transform: scale(1);
}

.single-product:hover .icon {
    top: 0;
}

.icon {
    transition: 0.5s;
}

.icon a {
    display: inline-flex;
}

.float-left {
    float: left;
}

/*  ================================
    featured products area end
    ================================ */
/*  ================================
        footer area start
    ================================ */

.footer-top {
    margin-top: 50px;
    padding: 30px 0;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.footer-widget h2 {
    padding: 0 0 20px;
    margin: 0 0 25px;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    font-weight: bold;
    display: inline-block;
    color: #713A99;
}

.footer-widget h2::before {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 30px;
    right: 0;
    margin: auto;
    content: "";
    width: 20%;
    height: 2px;
    background-color: #34C5C2;
}

.footer-logo img {
    width: 200px;
}

.footer-widget p {
    margin: 0 0 20px;
    line-height: 18px;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
}

.footer-widget ul li {
    margin-bottom: 15px;
    list-style: none;
    text-transform: capitalize;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px;
}

.footer-widget ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.5s;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.footer-widget ul li a:hover {
    text-decoration: none;
    color: #059643;
}

.footer-img p {
    text-transform: capitalize !important;
    font-weight: 600 !important;
    color: #fff;
}

.sub-btn {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    text-transform: uppercase !important;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 0 !important;
    display: inline-block;
    font-weight: 700;
    margin-top: 30px;
}

.sub-btn:focus,
.sub-btn:hover {
    color: #fff;
}

.main-footer {
    padding: 20px 0;
    background-color: #000;
}

.copy-right p {
    color: #fff;
    margin: 0;
    padding: 0;
}


.copy-right p a {
    color: #fff;
    font-weight: bold;
}

/*  ================================
        footer area end
    ================================ */
